<div class="card mb-4">
  <img class="card-img-top" src="assets/images/{{teacherTeachSubjectToSchoolClassToStudent.Student.UserName}}.jpg" />
  <!-- "{{artikal.slikaUrl ? 'assets/images/' + artikal.slikaUrl : 'assets/images/no_image.jpg'}}" -->
  <div class="card-body">
    <h4 class="card-title">{{ teacherTeachSubjectToSchoolClassToStudent.Student.FirstName + " " + teacherTeachSubjectToSchoolClassToStudent.Student.LastName
      }}</h4>
    <p class="card-text">
      <span class="font-weight-bold">SchoolClass:</span> {{ teacherTeachSubjectToSchoolClassToStudent.Student.SchoolClassId }}
      <br />
      <span class="font-weight-bold">Email:</span> {{ teacherTeachSubjectToSchoolClassToStudent.Student.Email }}
    </p>
    <button class="btn btn-info position-absolute" routerLink="/ttstsct-student-details/{{teacherTeachSubjectToSchoolClassToStudent.Id}}">
      <i class="fa fa-book"></i> Oceni
    </button>
  </div>