<div *ngIf="user" class="text-center my-4">
  <h1>Pozdrav, {{user.name + ' ' + user.surname}}!</h1>
  <div class="clearfix w-25 mx-auto">
    <button class="float-right btn btn-outline-warning" (click)="logout()">Log Out</button>
  </div>

  <!-- <app-product></app-product> -->

  <div *ngIf="user.role=='admins'">
    <p>Only admins can see this!</p>
  </div>
</div>

<div *ngIf="!user" class="my-4">
  <div class="text-center mb-4">
    <h1>Please, Log In!</h1>
  </div>

  <form class="clearfix w-25 mx-auto p-4 border border-info rounded" ngNativeValidate (submit)="login(username.value, password.value)">

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" id="username" #username tabindex="1" required/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" #password tabindex="2" required />
    </div>
    <div class="float-right">
      <button [disabled]="loading" class="btn btn-primary mr-1" type="submit" tabindex="4">Log In</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
    </div>
  </form>
</div>